h1, p {
    text-align: center;
  }
  
  ul:hover, ol:hover {
    background-color: blue;
  }
  
  li:active {
    font-family: fantasy;
    font-size: 15px;
  }
    
    li {
        list-style: none;
    }
    